<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctgu.dao.CarmodleMapper" >
  <resultMap id="BaseResultMap" type="ctgu.entity.Carmodle" >
    <id column="modleid" property="modleid" jdbcType="INTEGER" />
    <result column="modlename" property="modlename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    modleid, modlename
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ctgu.entity.CarmodleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from carmodle
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from carmodle
    where modleid = #{modleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from carmodle
    where modleid = #{modleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ctgu.entity.Carmodle" >
    insert into carmodle (modleid, modlename)
    values (#{modleid,jdbcType=INTEGER}, #{modlename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ctgu.entity.Carmodle" >
    insert into carmodle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modleid != null" >
        modleid,
      </if>
      <if test="modlename != null" >
        modlename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modleid != null" >
        #{modleid,jdbcType=INTEGER},
      </if>
      <if test="modlename != null" >
        #{modlename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ctgu.entity.Carmodle" >
    update carmodle
    <set >
      <if test="modlename != null" >
        modlename = #{modlename,jdbcType=VARCHAR},
      </if>
    </set>
    where modleid = #{modleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ctgu.entity.Carmodle" >
    update carmodle
    set modlename = #{modlename,jdbcType=VARCHAR}
    where modleid = #{modleid,jdbcType=INTEGER}
  </update>
</mapper>